process {
  executor = 'local'

  withName: CONSTRUCT_DATA {
    container = 'r-container:latest'
  }

  withName: A1_PROCESS {
    container = 'r-container:latest'
  }
  withName: A2_PROCESS {
    container = 'r-container:latest'
  }
  withName: A3_PROCESS {
    cpus = 15
    container = 'py-container:latest'
  }
  withName: A4_PROCESS {
    cpus = 15
    container = 'py-container:latest'
  }
  withName: FIG1 {
    container = 'r-container:latest'
  }
  withName: FIG2 {
    container = 'r-container:latest'
  }
  withName: FIG3 {
    container = 'r-container:latest'
  }
  withName: FIG4 {
    container = 'r-container:latest'
  }
  withName: FIG5 {
    container = 'r-container:latest'
  }
  withName: FIG6 {
    container = 'r-container:latest'
  }
  withName: FIG7 {
    container = 'r-container:latest'
  }
  withName: FIG8 {
    container = 'r-container:latest'
  }
  withName: S1 {
    container = 'r-container:latest'
  }
  withName: S2 {
    container = 'r-container:latest'
  }
  withName: S3 {
    container = 'r-container:latest'
  }
  withName: S4 {
    container = 'r-container:latest'
  }
  withName: S5 {
    container = 'r-container:latest'
  }
  withName: S6 {
    container = 'r-container:latest'
  }
  withName: S7 {
    container = 'r-container:latest'
  }
  withName: S8 {
    container = 'r-container:latest'
  }
  withName: S9 {
    container = 'r-container:latest'
  }
  
  withName: S10 {
    container = 'r-container:latest'
  }
  withName: S11 {
    container = 'r-container:latest'
  }
  withName: S12 {
    container = 'r-container:latest'
  }
  withName: S13 {
    container = 'r-container:latest'
  }
  withName: S14 {
    container = 'r-container:latest'
  }
  withName: S15 {
    container = 'r-container:latest'
  }
  withName: S16 {
    container = 'r-container:latest'
  }
}

docker.enabled = true

